html
	head
		title  Look Inna Book Store User Order Details

	body
		if loggedAsOwner = true 
			include ../partials/ownerHeader
		else 
			include ../partials/userHeader
		script(src= '../../purchasing.js')
		div#main
			h1 Look Inna Book Store User Order Details
			br
			h2 Hello #{loggedInUserInfo.name}
			br
			if orderInfo
				h3 Order Details for Order ID: #{orderInfo.orderID}
				br
				p Order Total: #{orderInfo.totalPrice}
				br
				p Order Shipping Address: #{orderInfo.shipAddr}
				br
				p Order Billing Address: #{orderInfo.billAddr}
				br
				p Order Time: #{orderInfo.orderTime}
				br
				p Order Content:
				ul
					if orderInfo.books
						each val in orderInfo.books
							li #{val}
				br
				p Order Tracking ID: #{orderInfo.trackingID}
				input(type="submit" id="submitBtn" value="Get Tracking Info" onclick=`trackOrder(${orderInfo.trackingID})`)
				br
				div#trackingInfo
			else 
				h3 No orders placed yet.
		style.
			* {
				color: #212b31;
			}
			body {
				color: #212b31;
				background: #bfd9bf;
			}
			h1 {
				font-size: 110px;
			}
			h2 {
				font-size: 90px;
			}
			h3 {
				font-size: 70px;
			}
			a.btn {
				background: #556B2F;
				border-radius: 5px;
				text-align: center;
				padding: 10px;
				color: white;
				height: 5%;
				width: 10%;
			}
			#submitBtn {
				background: #556B2F;
				border-radius: 5px;
				text-align: center;
				padding: 10px;
				color: white;
				height: 5%;
				width: 15%;
			}

		include ../partials/footer
